.drop-down-list {
  background-color: var(--color1light);
  line-height: 1.5rem;
  position: absolute;
  width: 11rem;
  overflow: auto;
  max-height: 10rem;
  z-index: 10;
}

.drop-down-item {
  border-top: solid 0.1rem var(--color2dark);
  padding-left: 0.3rem;
  border-radius: 0.2rem;
  transition: background-color 0.2s;
}

.drop-down-item:hover {
  background-color: var(--color3light);
}