.group-show-div{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-size: 50px;
    margin-top: 15px;
}

#group-title{
    margin: 0 auto;
}


.group-container{
    margin-top: 15px;
}

.group-header{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.group-text{
    position: relative;
    left: 30px;
    font-size: 17px;
}

.owner-info-container{
    display: flex;
    position: relative;
    left: 30px;
}

.owner-field{
    font-size: 20px;
}

.owner-data{
    font-weight: 500;
}

#owner-name{
    position: relative;
    left: 85px;
}

#owner-username{
    position: relative;
    left: 48px;
}



.member-button:hover{
    border: solid 0.1rem var(--color1dark);
    border-radius: 0.3rem;
    background-color: var(--color1light);
    cursor: pointer;
    /* padding: 5px; */
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    transition: background-color 0.2s;
}

#members-list{
    position: relative;
    bottom: 20px;
}
.group-label{
    font-size: 17px;
}

#event-list{
    height: 260px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#event-list:hover {
    overflow-y: scroll;
    overflow-x: scroll;
  }



.event-info-main{
    font-size: 20px;

    display: flex;
    margin-bottom:  10px ;
}

.event-info-sub{
    font-size: 20px;
    display: flex;
    position: relative;
    left: 20px;
}

.event{
    margin-bottom: 15px;
}
.event-title{
    margin-bottom: 5px;
    font-size: 20px;
}

#members-list{
    display: flex;
    position: relative;
    top: 0px;
    height: 30px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#members-list{
    overflow-x: scroll;
}


.event-text{
    font-weight: 500;
    font-size: 17px;
}

.event-description{
    margin-right: 10px;
}

.event-host{
    margin-right: 17px;
}



/* <Link to={`/profile/${group.ownerId}`} className="member-button group-container">
<div className="group-header">Group Creator:</div>
<div className="owner-info-container ">
  <div className="owner-field group-label">Name:</div>
  <div id="owner-name" className="group-text owner-data">{users[group.ownerId].firstName} {users[group.ownerId].lastName}</div>
</div>

<div className="owner-info-container">
  <div className="owner-field group-label">Username:</div>
  <div id="owner-username" className="group-text owner-data">{users[group.ownerId].username} </div>
</div>
<div className="owner-info-container">
  <div className="owner-field group-label">Contact info:</div>
  <div id="owner-email" className="group-text owner-data" >{users[group.ownerId].email} </div>
</div>

</Link> */