:root {
  --color1: #4193BE;
  --color1light: #bce0f3;
  --color1dark: #16303f;
  --color2: #BE4193;
  --color2light: #ffd3f0;
  --color2dark: #501d3e;
  --color3: #93BE41;
  --color3light: #edffcc;
  --color3dark: #303f16;
}

*, body {
  font-family: 'Roboto', sans-serif;
}


body {
  background-image: linear-gradient(var(--color1light),var(--color1),var(--color1), var(--color1), var(--color1dark));
  max-height: 100vw;
}

footer {
  font-size: 0.8rem;
}

div#root {
  display: flex;
  justify-content: center;
  height: 100vh;
}

div.app {
  width: calc(100vw - 10rem);
}


a:link {
  text-decoration: none;
  color: inherit;
}
a:visited {
  text-decoration: none;
  color: inherit;
}

.button {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
  padding: 0.2rem 1rem;
}

input[type=text], input[type=password] {
  margin: 0.2rem;
  padding: 0.5rem;
  width: calc(100% - 2rem);
  outline: none;
}



/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color2dark);
  border-radius: 0.2rem;
}