div#map {
  height: calc(100vh - 5.5rem);
  /* width: calc(100vw - 10rem); */
}

.gm-style-iw.gm-style-iw-c {
  /* background-color: var(--color2); */
  /* color: var(--color2light); */
  overflow-x: hidden;

  /* width: 40rem; */
  font-size: 0.9rem;
  font-weight: 400;

  max-width: 100vw;
  max-height: 100vh;
}

div.gm-style-iw.gm-style-iw-c {
  max-width: 100vw;
}

.gm-style-iw-d {
  overflow-x: hidden;
}

.dialog {
  background-color: blue;
}

.event-title {
  font-size: 1.2rem;
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* .event-header {
  display: flex;
} */

.event-buttons {
  display: flex;
}


/* .gm-style-iw-d {
  overflow: none;
} */

.event-picture{
  height: 12rem;
  width: 28rem;
}

.info-window > div.event-text {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.info-window > div.event-text > div.label {
  margin-right: 1rem;
}

ul.details-labels {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

ul.details-details {
  display: flex;
  flex-direction: column;
}

div.details-columns {
  display: flex;
  line-height: 1.5rem;
}

div.details-columns > ul {
  width: 100%;
}

.event-details.form-modal {
  width: 30rem;
  min-width: 20%;
  max-width: 100%;
  background-color: white;
}

/* .event-details.form-modal > div {
  margin: 1rem;
} */