.nav-bar-container {
  display: flex;
  width: calc(100% - 2rem);
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.nav-bar-container > h1 {
  font-size: 2rem;
}

.nav-bar-links {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2rem;
  font-weight: 700;
}
