.auth-form-container {
  /* background-color: var(--color1dark); */
  display: flex;
  justify-content: center;
  align-content: center;
  /* display: none; */
  position: absolute;
  width: 100%;
  height: 100%;
  color: var(--color2dark);
}

.form-modal {
  z-index: 1000;
  position: absolute;
  right: 50%;
  transform: translateX(50%) translateY(10%);
  background-color: var(--bgc1);
  width: 20rem;
  max-width: 100vw;
  background-color: var(--color3light);
  border: solid 0.1rem var(--color1dark);
  border-radius: 0.25rem;
}

.text-input, .textarea-input {
  width: 100%;
  margin-bottom: 0.2rem;
  border-radius: 0.25rem;
  border: solid 0.1rem var(--color2dark);
  transition: background-color 0.2s;

}

.text-input:hover {
  background-color: var(--color1light);
}

.text-input:focus-visible {
  border-color: var(--color3);
  outline: none;
}

.auth-form-div {
  max-width: 20rem;
  margin: 0.5rem;
}

.modal-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: var(--screen);
  /* background-color: blue; */
}

.modal-header > h2 {
  font-size: 2rem;
  color: var(--color2);
  text-align: center;
}

.header-details {
  color: var(--color3dark);
  text-align: center;
}

.button {
  border: solid 0.1rem var(--color1dark);
  border-radius: 0.3rem;
  background-color: var(--color1light);
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: var(--color1);
}

.button:active {
  background-color: var(--color1dark);
}

.modal-footer {
  display:flex;
  justify-content: center;
  margin: 1rem;
}

.auth-other-message {
  margin-right: 0.3rem;
}

.link {
  color: var(--color1);
}